---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Button from '@/components/shared/Button.astro'

const meta = {
  title: 'UI',
}
---

<BaseLayout meta={meta}>
  <div class="mt-10 grid grid-cols-2 gap-x-10 px-20">
    <div class="bg-steel grid gap-y-5 p-10">
      <div>
        <Button href="#" color="spark" variant="contained">Primary</Button>
      </div>
      <div>
        <Button href="#" color="white" variant="contained">Secondary</Button>
      </div>
      <div>
        <Button href="#" color="white" variant="outlined">Outline</Button>
      </div>
      <div>
        <Button href="#" color="white" arrow="right">Link</Button>
      </div>
      <div>
        <Button href="#" color="spark" arrow="right">Link Primary</Button>
      </div>
    </div>
    <div class="grid gap-y-5 bg-creme p-10">
      <div>
        <Button href="#" color="steel" variant="contained">Primary</Button>
      </div>
      <div>
        <Button href="#" color="white" variant="contained">Secondary</Button>
      </div>
      <div>
        <Button href="#" color="steel" variant="outlined">Outline</Button>
      </div>
      <div><Button href="#" color="steel" arrow="left">Link</Button></div>
      <div>
        <Button href="#" color="steel" arrow="left">Link Primary</Button>
      </div>
    </div>
  </div>
</BaseLayout>
