---
import type { Props as EntryGridItemProps } from '@/components/shared/EntryGridItem.astro'
import EntryGridItem from '@/components/shared/EntryGridItem.astro'
import clsx from 'clsx'
import Icon from './Icon.astro'

export type Props = {
  class?: string
  variant?: 'square-columns'
  items: EntryGridItemProps[]
  [key: string]: unknown
}

const { class: className, items = [], variant } = Astro.props

const squares = variant === 'square-columns'
const containerClasses = clsx(
  'grid gap-x-gap gap-y-10 md:grid-cols-2',
  squares && 'lg:grid-cols-3',
)
---

<div class={clsx('relative', className)}>
  <div
    x-cloak
    x-bind:class="!loading && 'opacity-0'"
    class="pointer-events-none absolute inset-0 z-10 bg-creme/50 transition-opacity"
  >
    <div
      class="sticky top-[25svh] py-[25svh]"
      x-show="loading"
      x-transition:enter="transition ease-out duration-300 delay-500"
      x-transition:enter-start="opacity-0 scale-50"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-50"
    >
      <Icon name="signet" class="absolute-center h-[25svh] animate-pulse" />
    </div>
  </div>
  {
    items.length > 0 && (
      <div class={clsx(containerClasses)}>
        {items.map((item, index) => (
          <div
            class={clsx(!squares && 'odd:md:row-span-2')}
            x-data={`entrygriditem({id: '${item.id}'})`}
            x-show="visible"
          >
            <EntryGridItem
              {...item}
              aspectRatio={index % 2 === 0 || squares ? '1/1' : '16/9'}
            />
          </div>
        ))}
      </div>
    )
  }
</div>
