---
import clsx from 'clsx'

const currentLocale = Astro.currentLocale
const isCurrentLocale = (locale) => currentLocale === locale

// TODO: Link to the alternative, localized page
---

<div class="flex h-12 flex-none items-center gap-x-5">
  <a href="/" class={clsx('font-bold', !isCurrentLocale('en') && 'opacity-50')}>
    EN
  </a>
  <a
    href="/de"
    class={clsx('font-bold', !isCurrentLocale('de') && 'opacity-50')}
  >
    DE
  </a>
</div>
