---
import clsx from 'clsx'
import Icon from './Icon.astro'
import { getSiteFromRoute, useTranslate } from '@/i18n/utils'
import { applyLinkAttrs } from '@/utils/link'
import { useSiteConfig } from '@/utils/useSiteConfig'

const { floating = true, hideNav = false, hideContact = false } = Astro.props

const currentSite = getSiteFromRoute(Astro.url.href)
const currentLocale = Astro.currentLocale
const site = await useSiteConfig({ site: currentSite, lang: currentLocale })
const t = useTranslate(Astro.url)
---

<div class="absolute top-0 z-header h-0 w-full" data-expanded="true">
  <div
    data-navbar
    class={clsx(
      'relative h-header px-5 text-white md:px-15',
      'flex items-center justify-between',
      floating ? '' : ' bg-steel',
    )}
  >
    {
      !hideNav && (
        <button
          type="button"
          class={clsx(
            'flex-center h-12 w-12',
            'hovers:transition hovers:hover:opacity-80',
          )}
          x-data
          x-on:click="$store.ui.toggleNav(true)"
        >
          <Icon name="menu" class="h-6 w-6" />
          <span class="sr-only">{t('nav.open_nav')}</span>
        </button>
      )
    }
    <a {...applyLinkAttrs(site?.homePageSlug)} class="absolute-center block">
      <Icon name="logo" class="w-[10rem] md:w-[14.375rem]" />
    </a>
    {
      !hideContact && (
        <button
          type="button"
          class={clsx(
            'flex-center ml-auto h-12 w-12',
            'hovers:transition hovers:hover:opacity-80',
          )}
          x-data
          x-on:click="$store.ui.toggleContact(true)"
        >
          <Icon name="speech-bubble" class="h-6 w-6" />
          <span class="sr-only">{t('nav.open_contact_drawer')}</span>
        </button>
      )
    }
  </div>
</div>

<style is:global>
  [data-expanded='true'][data-navbar] {
    @apply bg-steel;
  }
</style>
