---
import HtmlHeading from '@/components/shared/HtmlHeading.astro'
import type { JobPostingListStoryblok } from '@/types/storyblok'
import type { WithStoryblokPluginPalette } from '@/types/storyblok-plugin'
import { applyLinkAttrs } from '@/utils/link'
import { fetchStories } from '@/utils/storyblok'
import clsx from 'clsx'
import Section from './Section.astro'
import Icon from '../shared/Icon.astro'
import { getSbLanguageFromLocale } from '@/utils/storyblok/i18n'

export type Props = {
  class?: string
  blok: JobPostingListStoryblok & WithStoryblokPluginPalette
}
const sbLang = getSbLanguageFromLocale(Astro.currentLocale)

const stories = await fetchStories({
  language: sbLang,
  by_slugs: 'global/jobs/*',
  content_type: 'JobPosting',
  sort_by: 'sort_by_date:desc,published_at:desc,created_at:desc',
})

const links =
  stories?.map((story) => ({
    label: story.content.listTitle || story.content.title,
    url: story.full_slug,
  })) ?? []

const { class: className, blok } = Astro.props

const Sizes = {
  lg: 'text-22 md:text-32 lg:text-46',
  md: 'text-22 md:text-32',
}
const sizeClass = Sizes[blok.size ?? 'lg'] ?? Sizes.lg
---

<Section blok={blok} defaultSpacing="md" class={clsx('area', className)}>
  <div class="area-content">
    {
      blok.headline && (
        <HtmlHeading
          class={clsx('text-18 leading-125 lg:text-24', 'mb-4 md:mb-6 lg:mb-8')}
          order={blok.headingOrder}
        >
          {blok.headline}
        </HtmlHeading>
      )
    }
    {
      links?.length > 0 && (
        <ul class={clsx('-mt-[0.0.1875em] leading-125', sizeClass)}>
          {links.map((link) => (
            <li>
              <a
                class="group flex items-center justify-between py-[0.375em] hovers:transition-colors hovers:hover:text-spark"
                {...applyLinkAttrs(link.url)}
              >
                <span>{link.label}</span>
                <span class="flex-none hovers:transition-transform hovers:group-hover:translate-x-2">
                  <Icon name="arrow" class="w-[1.3em] flex-none" />
                </span>
              </a>
            </li>
          ))}
        </ul>
      )
    }
  </div>
</Section>
