---
import BaseLayout from '@/layouts/BaseLayout.astro'

const meta = {
  title: 'METALLART',
  description: 'Treppen sind mehr als der Unterschied zwischen oben & unten',
}
---

<BaseLayout meta={meta} language="de">
  <div class="mx-auto max-w-[900px] space-y-[5svh] px-5 text-center font-sans">
    <p class="font-hero text-36 text-gold">METALLART</p>
    <h1>
      <div class="text-36 md:text-46">
        „Treppen sind mehr als der Unterschied zwischen <span
          class="inline-block">oben & unten.</span
        >
        Sie verbinden nicht nur Stockwerke, sondern Menschen, Lebenswelten <span
          class="inline-block">& Emotionen.</span
        >“
      </div>
    </h1>
    <p class="text-18">Coming soon …</p>
  </div>
</BaseLayout>
